* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

main {
  flex-grow: 1;
}
