.form {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.form > label > input {
  font-family: 'Montserrat', sans-serif;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 272px;
  height: 40px;
  padding: 7px 15px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition: border 0.2s ease-in-out;
  outline: none;
}

.form > label > input:hover {
  border: 1px solid #000;
}

.form > label > input:focus {
  border: 1px solid #4e75ff;
}

.form > button {
  border-radius: 8px;
  border: none;
  padding: 8px 16px;
  width: 91px;
  height: 40px;
  background-color: #4e75ff;
  transition: background-color 0.3s ease-in-out;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}

.form > button:hover {
  background-color: #6c8cff;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  gap: 24px;
}

.gallery-item {
  position: relative;
  width: 360px;
  max-height: 200px;
  border: 1px solid #808080;
  cursor: pointer;
}

.gallery-item > img {
  width: 100%;
  height: 198px;
}

.img-desc-container {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 28px;
  padding-top: 4px;
  padding-bottom: 3px;
  background-color: #fff;
  width: 100%;
}

.img-desc-wrapper {
  text-align: center;
}

.img-desc-titles {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33333;
  letter-spacing: 0.04em;
}

.img-desc-titles + p {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
}

.loader {
  width: 64px;
  height: 64px;
  position: fixed;
  background: #fff;
  border-radius: 4px;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.loader:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 40px;
  height: 40px;
  transform: rotate(45deg) translate(30%, 40%);
  background: #ff9371;
  box-shadow: 32px -34px 0 5px #ff3d00;
  animation: slide 2s infinite ease-in-out alternate;
}

.loader:after {
  content: '';
  position: absolute;
  left: 10px;
  top: 10px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #ff3d00;
  transform: rotate(0deg);
  transform-origin: 35px 145px;
  animation: rotate 2s infinite ease-in-out;
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.btn-load-more {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  width: 125px;
  height: 40px;
  background-color: #4e75ff;
  margin: 0 auto;
  display: block;
  transition: background-color 0.3s ease-in-out;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.btn-load-more:hover {
  background-color: #6c8cff;
}

.is-visible {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
